
<div class="row margin-bottom-40px">
    <div class="card margin-cards col-md-6 border-none">
        <div class="row home-result" data-toggle="modal" data-target="#modalDetalleHomeResult">
            <div class="col-md-4">
                <img src="/Content/img/clinica.png" alt="Contenido card" class="__img" width="180" height="150">
            </div>
            <div class="col-md-8 __p">
                <p>Dirección: Cll 85 #19-12 Bogotá</p>
                <p>Horario:L-V 8:00 am - 9:00 pm</p>
                <p>Telefono:(1)546 73 82</p>
            </div>
        </div>
    </div>
    <div class="card margin-cards col-md-6 border-none">
        <div class="row home-result" data-toggle="modal" data-target="#modalDetalleHomeResult">
            <div class="col-md-4">
                <img src="/Content/img/clinica.png" alt="Contenido card" class="__img" width="180" height="150">
            </div>
            <div class="col-md-8 __p">
                <p>Dirección: Cll 85 #19-12 Bogotá</p>
                <p>Horario:L-V 8:00 am - 9:00 pm</p>
                <p>Telefono:(1)546 73 82</p>
            </div>
        </div>
    </div>
</div>
<div class="row margin-bottom-40px">
    <div class="card margin-cards col-md-6 border-none">
        <div class="row home-result" data-toggle="modal" data-target="#modalDetalleHomeResult">
            <div class="col-md-4">
                <img src="/Content/img/clinica.png" alt="Contenido card" class="__img" width="180" height="150">
            </div>
            <div class="col-md-8 __p">
                <p>Dirección: Cll 85 #19-12 Bogotá</p>
                <p>Horario:L-V 8:00 am - 9:00 pm</p>
                <p>Telefono:(1)546 73 82</p>
            </div>
        </div>
    </div>
    <div class="card margin-cards col-md-6 border-none">
        <div class="row home-result" data-toggle="modal" data-target="#modalDetalleHomeResult">
            <div class="col-md-4">
                <img src="/Content/img/clinica.png" alt="Contenido card" class="__img" width="180" height="150">
            </div>
            <div class="col-md-8 __p">
                <p>Dirección: Cll 85 #19-12 Bogotá</p>
                <p>Horario:L-V 8:00 am - 9:00 pm</p>
                <p>Telefono:(1)546 73 82</p>
            </div>
        </div>
    </div>
</div>
<a href="#" class="main-clear-a ver-todos"><img src="/Content/img/icon/plusButton.svg" alt="Plus" width="30"><span>Ver Todos</span> </a>
