<div class="row">
    <div class="modal fade" id="modalDetalleHomeResult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-detalle-result">
                <div class="modal-header text-center __head-modal">
                    <img src="/Content/img/clinica.png" alt="Clinica">
                    <img src="/Content/img/ganchosPoster.png" alt="Ganchos" class="img-fluid gancho">
                </div>
                <div class="modal-body mx-3 __body-modal">
                    <h4>Clínica petidog</h4>
                    <p>Dirección: Cl. 85 #19-12, Bogotá</p>
                    <p>Horario: L-V 8:00 a.m - 09:00 pm</p>
                    <p>Teléfono: (1) 2561562</p>
                    <p>www.petidoc.com</p>
                </div>
                <div class="row __footer-modal">
                    <div class="col-md-6">
                        <h5>Servicios</h5>
                        <div>
                            <input type="checkbox"> Consulta veterinaria
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Alimentos
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Peluqueria
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Accesorios
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Cirugía
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Especialidades</h5>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Infectologia
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Dermatología
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Parasitología
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Endocrinología
                        </div>
                        <div>
                            <input type="checkbox" aria-label="Checkbox for following text input"> Cardiología
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
