<section class="background-gray">
    <div class="container about-us">
        <h2>¿Quienes somos?</h2>
        <div class="row __ideas">
            <div class="col-md-4">
                <img src="/Content/img/icon/ideaHome.svg" alt="Idea" width="80">
                <p>mollitia, laboriosam quam a suscipit Maxime mollitia voluptas facere quo ex ut quam!</p>
            </div>
            <div class="col-md-4">
                <img src="/Content/img/icon/ideaHome.svg" alt="Idea" width="80">
                <p>mollitia, laboriosam quam a suscipit Maxime mollitia voluptas facere quo ex ut quam!</p>
            </div>
            <div class="col-md-4">
                <img src="/Content/img/icon/ideaHome.svg" alt="Idea" width="80">
                <p>mollitia, laboriosam quam a suscipit Maxime mollitia voluptas facere quo ex ut quam!</p>
            </div>
        </div>
    </div>
</section>
