<section>
    <div class="partner">
        <div class="container-fluid">
            <ul class="nav __partner-list">
                <li class="nav-item __li"><a href=""><img src="/Content/img/Logo-ivanagro.png" alt="Logo patrocinador" class="img-fluid" width="200"></a></li>
                <li class="nav-item __li"><a href=""><img src="/Content/img/Logo-CEBA.png" alt="Logo patrocinador" class="img-fluid" width="200"></a></li>
                <li class="nav-item __li"><a href=""><img src="/Content/img/Logo-MSD.png" alt="Logo patrocinador" class="img-fluid" width="200"></a></li>
                <li class="nav-item __li"><a href=""><img src="/Content/img/Logo-CEBA.png" alt="Logo patrocinador" class="img-fluid" width="200"></a></li>
                <li class="nav-item __li"><a href=""><img src="/Content/img/Logo-CEBA.png" alt="Logo patrocinador" class="img-fluid" width="200"></a></li>
            </ul>
        </div>
    </div>
</section>
