<!-- Mapa -->
<section class="section-location container-fluid">
    <a href="/Petfriendly">
        <div class="row">
            <div class="col-md-12 home-location">
                <img src="/Content/img/icon/homeLugarPetfriendly.svg" alt="Mapa" width="150">
                <h3>Ver Lugares <span>PetFriendly</span></h3>
            </div>
            <div class="empty-box"></div>
        </div>
    </a>
</section>
