<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 __main-footer-logo">
                <img src="/Content/img/footerLogo2.png" alt="Logo" width="370">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 __main-footer-menu">
                <ul>
                    <li><a href="#" class="inicio" data-ancla="logo"><img src="/Content/img/icon/footerHuellaBlanca.svg" alt="Huella" class="__footer-huella"> Inicio</a></li>
                    <li><a href="#"><img src="/Content/img/icon/footerHuellaBlanca.svg" alt="Huella" class="__footer-huella"> Entérate sobre Eventos y Promociones</a></li>
                    <li><a href="#"><img src="/Content/img/icon/footerHuellaBlanca.svg" alt="Huella" class="__footer-huella"> Directorio de Veterinarias y Pet Shop</a></li>
                    <li><a href="#"><img src="/Content/img/icon/footerHuellaBlanca.svg" alt="Huella" class="__footer-huella"> Esto te puede interesar</a></li>
                </ul>
            </div>
            <div class="col-md-4 __main-footer-contacto">
                <p>(+57) 000 00 00</p>
                <p>contactenos@petify.com</p>
                <p>Bogotá, Colombia</p>
                <div>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="/Content/img/icon/footerFacebook.svg" alt="facebook" width="70" class="social">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="/Content/img/icon/footerInstagram.svg" alt="facebook" width="70" class="social">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="/Content/img/icon/footerYoutube.svg" alt="facebook" width="70" class="social">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-msd-img">
                <img src="/Content/img/icon/footerMSD.svg" alt="Imagen" width="250" class="__footer-msd-img">
                <div class="__footer-button">
                    <a href="#"><p>Quiero ser un PetiDoctor</p></a>
                </div>
                <a href="#"><p>Consulta Terminos y Condiciones Políticas de Privacidad</p></a>
            </div>
        </div>
    </div>
    <div class="container-fluid made-by">
        <div class="row">
            <h4 class="col-md-6">Hecho por</h4>
            <div class="col-md-6">
                <img src="~/Content/img/footerLogoImaginamos.png" alt="Imaginamos" width="140" height="40" />
            </div>
        </div>
    </div>
</footer>
