<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 logo" id="logo">
                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <img src="/Content/img/logo.png" width="250" alt="Logo" class="__img" />
                </a>
            </div>
            <div class="col-md-8 " id="navegacion">
                <!-- Navegación - navigation -->
                    <!--<nav>
                        <ul class="nav justify-content-end main-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">HTML de prueba</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#modalRegisterForm">Prueba</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#modalSesionForm">Prueba</a>
                            </li>
                            <li class="nav-item">
                                <div id="nav-icon2">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </nav>-->
                <nav>
                    <ul class="nav justify-content-end main-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Quiero ser un <b>PetiDoctor</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#modalRegisterForm">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#modalSesionForm">Inicia Sesión</a>
                        </li>
                        <li class="nav-item">
                            <div id="nav-icon2">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
        <!-- Menu desplegable -->
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
            <div class="overlay-content">
                <a href="#">
                    <div class="row menu-desplegable">
                        <div class="col-md-4">
                            <img src="/Content/img/icon/carnetIconBlanco.svg" alt="Carnet" width="60">
                        </div>
                        <div class="col-md-8">
                            <p class="__p">Carnet Oficial de</p>
                            <p class="__p"><span>Mascotas Saludables</span></p>
                        </div>
                    </div>
                </a>
                <a href="/eventosPromociones">
                    <div class="row menu-desplegable">
                        <div class="col-md-4">
                            <img src="/Content/img/icon/calendarIconBlanco.svg" alt="Carnet" width="60">
                        </div>
                        <div class="col-md-8">
                            <p class="__p">Entérate sobre</p>
                            <p class="__p"><span>Eventos y Promociones</span></p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="row menu-desplegable">
                        <div class="col-md-4">
                            <img src="/Content/img/icon/24HrsIconBlanco.svg" alt="Carnet" width="60">
                        </div>
                        <div class="col-md-8">
                            <p class="__p">Directorio de</p>
                            <p class="__p"><span>Veterinarias y Pet shops</span></p>
                        </div>
                    </div>
                </a>
                <a href="/Blog">
                    <div class="row menu-desplegable">
                        <div class="col-md-4">
                            <img src="/Content/img/icon/petsNewBlanco.svg" alt="Carnet" width="60">
                        </div>
                        <div class="col-md-8">
                            <p class="__p">Esto te puede</p>
                            <p class="__p"><span>Interesar</span></p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="row menu-desplegable">
                        <div class="col-md-4">
                            <img src="/Content/img/icon/contactoIcon.svg" alt="Carnet" width="60">
                        </div>
                        <div class="col-md-8">
                            <p class="__p">Contactanos</p>
                            <p class="__p"><span></span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
